<p id="notice"><%= notice %></p>
<div class="title">Introduction</div></br>

<div class="category-title"><%= @stress.title %></div></br>
<%= auto_link(simple_format(@stress.body)) %></br></br>

<%= link_to 'Back', stresses_path %>
