


<div class="row">
<div class="col-md-4">
<%= link_to spaces_path, :class =>"post-title" do %>
Find Work Space
<% end %></br>
Renting out co-working space? List it here!
</div>

<div class="col-md-4">
<%= link_to spaces_path, :class =>"post-title" do %>
Work Spaces
<% end %></br>
Renting out co-working space? List it here!
</div>

<div class="col-md-4">
<%= link_to spaces_path, :class =>"post-title" do %>
Work Spaces
<% end %></br>
Renting out co-working space? List it here!
</div>
</div>


<div class="row">

</div>