
<div class="container">

<div class="row-fluid">
<div class="span4">
<%= link_to spaces_path, :class =>"post-title" do %>
Work Spaces
<% end %></br>
Renting out co-working space? List it here!

</div>
</div>


</container>