// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    background-color: white; 
    font-size: 12px; 
}

.logo-class{
	padding:20px;
	width:200px;	
}

.title{
	font-family: 'Roboto', sans-serif;
	font-size:28px;
	line-height: 50px;
	font-weight: 500;
    text-align: center;
}

.category-title{
    font-family: 'Roboto', sans-serif;
    font-size:28px;
    font-weight: 500;
}

.sub-heading{
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    line-height: 10px;
    font-weight: 300;
    text-align: center;
}

.time{
    font-family: 'Roboto', sans-serif;
    color:#bbbbbb;
    font-size:11px;
    font-weight: 400;
    margin-top: 5px;
}

.post-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size:18px;
}
.post-body{
    font-family: 'Roboto', sans-serif;
    font-size:12px;
    font-weight: 400;
}
.heading-signature{
    font-family: 'Roboto', sans-serif;
    font-size:28px;
    line-height: 50px;
    font-weight: 200;
    margin-bottom: 20px;
    margin-top: 0px;
    float:right;
}

.text-area-field{
    width: 100%;
    height:100px;
}

.search-bar{
  margin-top:80px;
}

.search-bar-field{
  width:50%;
}

.stream-link{
	display:inline;
}

.recently-added{
	float:left;
}

.time-new{
  padding:2px;
  color:white;
  background-color: #5AB042;
  display:inline;
}




img.no-pic-css {
  float:left;
  width: 50px !important;
  border-radius: 50%;
  -webkit-transition: margin 0.1s ease-out;
    -moz-transition: margin 0.1s ease-out;
    -o-transition: margin 0.1s ease-out;
}
 
img.no-pic-css:hover {
  cursor:pointer;
  margin-top: 5px;
  z-index: 1 !important;
}


html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #eee;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}
